---
import '../styles/global.css';
import '@fontsource/iosevka';
import '@fontsource/ubuntu-mono';
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>B9android - Evan Buchholz</title>
    </head>
    <body>
        <header>
            <h1>~/home/B9android</h1>
            <a href="/">~/home</a>
            <a href="/about/">~/about</a>
            <a href="/archive/">~/archive</a>
            <a href="/tags/">~/tags</a>
            <a href="/projects/">~/projects</a>
            <a href="/resume/">~/resume</a>
        </header>
        <h2>~$ whoami</h2>
        <p>My name is Evan Buchholz, known as B9android. I'm a 21 year old student studying computer science from Middlesex Community College in Massachusetts. This website is built and maintained by me in order to explore web design and to discuss the things I learn through my practice of programming.</p>
        <h2>~$ new-posts</h2>
        <h2>~$ contact</h2>
        <a href="/">github</a>
        <a href="/">email</a>
        <a href="/">linkedin</a>
        <footer>
            <p>scroll to top</p>
        </footer>
    </body>
</html>